<div class="container">

    <script>
        //Make the sorting the table in ascending and descending Order - [w3schools]
        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("contactList");
            switching = true;
            dir = "asc";

            while (switching) {
                switching = false;
                rows = table.rows;

                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;

                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];

                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {

                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    switchcount++;
                } else {
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
    </script>




    <% if(displayName) { %>
        <h1>Business Contact List</h1>
        <a href="/business-add" id="addBtn" class="btn btn-default" role="button">
            <i class="fas fa-pl -circle"></i> Add a contact</a>


        <div class="row">
            <div class="col">

                <table id="contactList" class="table table-striped table-bordered table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col" class="text-center">#</th>
                            <th scope="col" onclick="sortTable(0)"> First Name</th>
                            <th scope="col" onclick="sortTable(1)"> Last Name</th>
                            <th scope="col" onclick="sortTable(2)"> Company Name</th>
                            <th scope="col" onclick="sortTable(3)"> Email Address</th>
                            <th scope="col" onclick="sortTable(4)"> Phone Number</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Repeatable Rows -->
                        <% for(let count = 0; count < contact.length; count++) { %>
                            <tr>
                                <th scope="row" class="text-center">
                                    <%= count + 1 %>
                                </th>
                                <td>
                                    <%= contact[count].firstName %>
                                </td>
                                <td>
                                    <%= contact[count].lastName %>
                                </td>
                                <td>
                                    <%= contact[count].companyName %>
                                </td>
                                <td>
                                    <%= contact[count].emailAddress %>
                                </td>
                                <td>
                                    <%= contact[count].phoneNumber %>
                                </td>


                                <td class="text-center col-1">

                                    <a id="editBtn" href="/business-edit/<%= contact[count]._id %>" class="btn btn-default btn-sm">
                                        <i class="fas fa-pencil-alt"></i> Edit</a>

                                </td>

                                <td class="text-center col-1">

                                    <a id="deleteBtn" href="/business-delete/<%= contact[count]._id %>" class="btn btn-default btn-sm">
                                        <i class="fas fa-trash-can"></i> Delete</a>
                                </td>


                            </tr>

                    </tbody>
                    <% } %>
                </table>
                <% } %>
            </div>
        </div>
</div>
</div>